
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


::-webkit-scrollbar{
    display: none;
}

.playfair{
    font-family: 'Playfair Display', serif;
}

.roboto{
    font-family: 'Roboto', sans-serif;
}


.btn{
    border-radius: 0px !important;
    font-size: 1.0rem;
    letter-spacing: 1.2px;
    font-weight: 600;
}

/* background: #003865; */
.hire-btn{
    background: #5800FF;
    border: 2px solid #5800FF;
    color: #fff;
    transition: 0.58s ease-in-out;
}

.hire-btn:hover{
    background: none;
    border: 2px solid #5800FF;
    color: #5800FF;
}
/* border: 2px solid #003865; */

.btn:focus, .btn:active:focus, .btn.active:focus{
    outline:none;
    box-shadow:none;
}

.form-control:focus, .form-control:active:focus, .form-control.active:focus{
    outline: none;
    box-shadow: none;
}

.form-control{
    border-radius: 0px !important;
}

.img-thumbnail{
    border-radius: 0px;
    backdrop-filter: blur(5px);
    background: rgba(255,255,255,0.1);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding: 8px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.logo{
    font-size: 1.5rem;
    color: #5800ff;
    font-weight: 600;
    letter-spacing: 1px;
}

/* .nav-item{
    border-bottom: 2px solid #fff;
    margin: 0 5px;
} */
.nav-bg{
    background: #1f1f1f;
}

.nav-link{
    font-size: 1.25rem;
    color: #bbc8de;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.78s;
}

.nav-link:hover{
    color: #005845;
}

/* landing page section */
.bg-image{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6) ), url('/static/images/com-bg-goku.png');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 94vh;
}

/* .landing-left-section{
    color: #f8f9fa;
    border-radius: 2px;
    backdrop-filter: blur(5px);
    background: rgba(255,255,255,0.1);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
} */

.introduction{
    font-size: 1.0rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
}

.intro-section{
    background: linear-gradient(to right #fdfdfd, #ebedee, 100%);
}

.intro-title{
    color: #d3d3d3;
    font-size: 3.4rem;
    line-height: 3.7rem;
    letter-spacing: 2.5px;
    font-weight: 600;
}

.main-tag{
    background: linear-gradient(90deg, #00dbde, #fc00ff);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    /*  */
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(0.25turn, rgba(255,0,128), #00dbde);
    border-image-slice: 1;
    width:100%;
}

.intro-desc{
    font-size: 0.983rem;
    color: #c1c1c1;
    line-height: 1.40rem;
    letter-spacing: 0.88px;
}

.cv-btn{
    background: #5800FF;
    border: 2px solid #5800FF;
    color: #fff;
    transition: 0.68s;
}

.cv-btn:hover{
    border: 2px solid #5800FF;
    background: none;
    color: #635ad9;
}

.portfolio-btn{
    background: none;
    border: 2px solid #5800FF;
    color: #d3d3d3;
    transition: 0.68s;
}

.portfolio-btn:hover{
    background: #5800FF;
    border: 2px solid #5800FF;
    color: #fff;
}

.landing-img{
    width: 100%;
    height: 84vh;
    object-fit: cover;
    object-position: bottom;
}

/* About section */

.about-section .img-thumbnail{
    border-radius: 0px;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(88, 0, 255,0.8);
    border-right: 1px solid rgba(88, 0, 255,0.8);
    border-bottom: 1px solid rgba(88, 0, 255,0.8);
    padding: 8px;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 100px;
}

.about-img{
    width: 100%;
    height: 84vh;
    object-fit: cover;
    object-position: center;
}

/* .title-box{
    border-bottom: 2px solid #5800FF;
    width: 25%;
} */

.about-title{
    font-size: 1.48rem;
    color: #3f3f3f;
    font-weight: 600;
    letter-spacing: 1.3px;
}

.hr{
    background-color: #5800FF !important;
    opacity: 0.9;
    padding-top: 2px;
}

.about-subtitle{
    font-size: 1.11rem;
    color: #3f3f3f;
    font-weight: 600;
    letter-spacing: 0.988px;
}

.about-subtitle-desc{
    font-size: 0.988rem;
    color: #4b4a4a;
    font-weight: 100;
    /* letter-spacing: 0.88px; */
}

.progress{
    border-radius: 0px !important;
}

.progress .bg{
    background: #4b4a4a;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

.hobbie-section{
    border-left: 2px solid #c1c1c1 !important;
}

.hobbie-circle{
    width: 30px;
    height: 30px;
    background: #dbdbdb !important;
    padding: 5px;
    border-radius: 50%;
}

.hobbie-category{
    font-size: 1.1rem;
    letter-spacing: 1.2px;
    font-weight: 600;
}

/* Serviecs Section */
.service-tag{
    border-bottom: 2px solid #5800FF;
    font-size: 1.15rem;
    color: #4b4a4a;
    font-weight: 100;
}

.service-title{
    font-size: 1.52rem;
    color: #3f3f3f;
    font-weight: 600;
    letter-spacing: 0.988px;
}

.service-subtitle{
    font-size: 0.988rem;
    color: #4b4a4a;
    font-weight: 100;
}

.service-img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    /* object-position: center; */
}

/* Projects Section */

/* tab list item */
.tabs-list{
    list-style:none;
}

.tabs-list li{
    float:left;
    font-size: 1.1rem;
    color: #3f3f3f;
    font-weight: 600;
    letter-spacing: 1px;
    border-bottom: 3px solid transparent;
    transition: 0.58s;
}

.tabs-list li a{
    color:#3f3f3f;
}

.tab{
    display:none;
    height:auto;
    clear:both;
}

/* When active state */
.active{
    display:block !important;
}
.tabs-list li.active{
    border-bottom: 3px solid #5800FF;
    color: #5800ff;
}
.active .a{
    color:#5800ff !important;
}

/* media query */
/* @media screen and (max-width:360px){
    .tabs{
        margin:0;
        width:96%;
    }
    .tabs .tabs-list li{
        width:80px;
    }
} */

.project-box{
    background: #fff;
    /* box-shadow: 2px 2px 12px #c1c1c1; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    overflow: hidden;
    /* cursor: pointer; */
    transition: 0.68s;
}

.project-box:hover{
    /* box-shadow: 2px 3px 12px #5800FF; */
    box-shadow: 0 8px 16px 0 rgba(88, 0, 255,0.5);
}

.project-img{
    display: block;
    width: 100%;
    height: 25vh;
    object-position: bottom;
    object-fit: cover;
    transition: 1s;
}

.project-img:hover{
    transform: scale(1.1);
    transform-origin: 50% 50%;
}

.project-title{
    font-size: 1.52rem;
    color: #3f3f3f;
    font-weight: 600;
    letter-spacing: 0.988px;
    transition: 0.78s;
}

/* .project-box:hover .project-title{
    color: #5800FF;
} */

.view-btn{
    background: #5800FF;
    color: #fff;
}

.view-btn:hover{
    color: #eee;
}

.logo-img{
    width: 100%;
    height: 40vh;
    object-position: center;
    object-fit: cover;
}

/* Contact Section */

.google-map{
    width: 100%;
    height: 55vh;
}


/* .contact-section{
    border-left: 2px solid #c1c1c1 !important;
} */

.contact-circle{
    width: 60px;
    height: 60px;
    background: #dbdbdb !important;
    padding: 5px;
    border-radius: 50%;
}

.contact-title{
    font-size: 1.1rem;
    letter-spacing: 1.2px;
    color: #3f3f3f;
    font-weight: 600;
}

.contact-subtitle{
    font-size: 0.988rem;
    color: #4b4a4a;
    font-weight: 100;
}

.contact-label{
    font-size: 1.0rem;
    color: #3f3f3f;
    font-weight: 500;
    letter-spacing: 1.4px;
}

.contact-form{
    background: #eee;
}

/* Footer Section */




/* Media Query (Responsive) Section */


@media screen and (max-width: 768px) {
    .intro-title{
        font-size: 2.2rem;
        line-height: 2.6rem;
        letter-spacing: 2.0px;
    }

    .landing-img{
        height: 50vh;
        object-position: center;
    }

    .img-thumbnail{
        border-top-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .about-section .img-thumbnail{
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
}


@media screen and (max-width: 468px) {
    .bg-image{
        background-image: linear-gradient(to bottom rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6) ), url('/static/images/com-bg-goku.png');
        background-position: center;
        height: 100vh;
    }
    
    .introduction{
        font-size: 0.88rem;
    }

    .intro-title{
        font-size: 1.5rem;
        line-height: 1.75rem;
        letter-spacing: 1.4px;
    }

    .intro-desc{
        font-size: 0.79rem;
        line-height: 1.10rem;
        letter-spacing: 0.68px;
    }

    .landing-img{
        height: 51vh;
        object-position: center;
    }

    .img-thumbnail{
        border-top-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .about-section .img-thumbnail{
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    
    .about-img{
        height: 52vh;
        object-position: center;
    }

}


/* End  */






/* ============================ Donot Touch this CSS Code ===================================== */

/* for linear gradient color section */
/* .intro-title{
    font-size: 3rem !important;
    line-height: 3.3rem;
    letter-spacing: 1.5px;
    font-weight: 700;
    background: linear-gradient(90deg, #00dbde, #fc00ff);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
} */
/*  */


