{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock title %}

{% block body %}

<!-- ========================= Navbar Section ========================= -->
<div class="container-fluid px-0 mx-0 nav-bg shadow-sm fixed-top mb-5">
    <div class="container col-md-11">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand playfair logo" href="#">Goku</a>
                <button class="btn navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars text-dark"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-4">
                        <li class="nav-item me-1">
                            <a class="nav-link roboto active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item me-1">
                            <a class="nav-link roboto" href="#">About</a>
                        </li>
                        <li class="nav-item me-1">
                            <a class="nav-link roboto" href="#">Services</a>
                        </li>
                        <li class="nav-item me-1">
                            <a class="nav-link roboto" href="#">Projects</a>
                        </li>
                        <li class="nav-item me-1">
                            <a class="nav-link roboto" href="#">Contact</a>
                        </li>
                    </ul>
                    <div>
                        <button class="btn btn-sm hire-btn px-4">Hire Me</button>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
<!--  -->

<!-- ========================= Landing Page Section ========================= -->
<div class="container-fluid px-0 mx-0 my-5 py-lg-5 py-2 bg-image">
    <div class="container col-md-11">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12 col-12 my-lg-5 my-md-3 my-0 py-lg-5 py-0">
                <div class="p-3 landing-left-section me-lg-5 me-md-3 me-sm-0 me-0 my-lg-4 my-md-1 my-sm-0 my-0">
                    <h6 class="text introduction my-lg-3 my-md-2 my-2 roboto">Introduction</h6>
                    <div class="intro-section mb-lg-3 mb-md-1 mb-sm-0 mb-0">
                        <h1 class="text intro-title roboto">
                            I'm Gokarna Adhikari,
                            <br>
                            And I'm a <span class="main-tag playfair"></span>
                        </h1>
                    </div>
                    <p class="text text-start mb-lg-5 mb-md-3 mt-sm-0 intro-desc pe-lg-5 pe-md-3 pe-sm-0 pe-0 me-lg-5 me-md-3 me-sm-0 me-0 pt-3 roboto">
                        I design and develop services for customers of all sizes, modern websites, specializing in
                        creating stylish, web services and online stores. My passion is to design digital user
                        experiences through the bold interface and meaningful interactions.
                    </p>
                    <div class="d-flex justify-content-start align-items-center">
                        <button class="btn px-lg-3 px-md-2 px-sm-1 px-1 me-4 cv-btn">Download CV</button>
                        <button class="btn px-3 portfolio-btn">Portfolio</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12 col-12 text-end">
                <div class="px-3 my-md-3">
                    <img src="static/images/goku2.jpg" alt="" class="img-thumbnail landing-img">
                </div>
            </div>
        </div>
    </div>
</div>
<!--  -->

<!-- ========================= About Page Section ========================= -->
<div class="container-fluid px-0 mx-0 mb-5 pb-lg-5">
    <div class="container col-md-11">
        <div class="row">
            <div class="col-md-5 mb-lg-1 mb-sm-3 mb-3">
                <div class="px-3 about-section">
                    <img src="static/images/goku-about.png" alt="About Gokarna Adhikari"
                        class="about-img img-thumbnail">
                </div>
            </div>
            <div class="col-md-7">
                <div class="p-3 landing-left-section ms-lg-5 ms-sm-0">
                    <!-- Education Section -->
                    <div class="title-box mb-2">
                        <h4 class="text text-start about-title roboto mb-1">Education</h4>
                        <hr class="col-md-1 hr mt-0 mb-3">
                        <div class="row">
                            <div class="col-md-6 mb-2">
                                <div class="pe-2">
                                    <div class="school-level-schooling">
                                        <h6 class="text text-start about-subtitle playfair mb-1">School Level</h6>
                                        <p class="text text-start about-subtitle-desc mb-0 roboto">
                                            Shree Kamakshy Secondary School <br> 2006 - 2016.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-2">
                                <div class="pe-2">
                                    <div class="school-level-schooling">
                                        <h6 class="text text-start about-subtitle playfair mb-1">Higher Level</h6>
                                        <p class="text text-start about-subtitle-desc mb-0 roboto">
                                            Patan Nist(Lalitpur Nist) <br> 2017 - 2019.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-2">
                                <div class="pe-2">
                                    <div class="school-level-schooling">
                                        <h6 class="text text-start about-subtitle playfair mb-1">Bachelor Level</h6>
                                        <p class="text text-start about-subtitle-desc mb-0 roboto">
                                            Softwarica College of IT & E-Commerce <br> 2019 - 2022.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Skills Section -->
                    <div class="row mb-2">
                        <div class="col-md-6 mb-3">
                            <div class="pe-2">
                                <div class="title-box">
                                    <h4 class="text text-start about-title roboto mb-1">Competences</h4>
                                    <hr class="col-md-2 hr mt-0 mb-3">
                                    <div class="skill-progress-bar">
                                        <div class="progress mb-2">
                                            <div class="progress-bar bg" role="progressbar" style="width: 85%"
                                                aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">Web Development
                                            </div>
                                        </div>
                                        <div class="progress mb-2">
                                            <div class="progress-bar bg" role="progressbar" style="width: 76%"
                                                aria-valuenow="76" aria-valuemin="0" aria-valuemax="100">Android
                                                Development</div>
                                        </div>
                                        <div class="progress mb-2">
                                            <div class="progress-bar bg" role="progressbar" style="width: 65%"
                                                aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">UX/UI Designing
                                            </div>
                                        </div>
                                        <div class="progress mb-2">
                                            <div class="progress-bar bg" role="progressbar" style="width: 80%"
                                                aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Research</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="pe-2">
                                <div class="title-box">
                                    <h4 class="text text-start about-title roboto mb-1">Tools</h4>
                                    <hr class="col-md-2 hr mt-0 mb-3">
                                    <div class="skill-progress-bar">
                                        <div class="progress mb-2">
                                            <div class="progress-bar bg" role="progressbar" style="width: 88%"
                                                aria-valuenow="88" aria-valuemin="0" aria-valuemax="100">Figma</div>
                                        </div>
                                        <div class="progress mb-2">
                                            <div class="progress-bar bg" role="progressbar" style="width: 70%"
                                                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">Adobe Photoshop
                                            </div>
                                        </div>
                                        <div class="progress mb-2">
                                            <div class="progress-bar bg" role="progressbar" style="width: 55%"
                                                aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">Adobe
                                                Illustrator</div>
                                        </div>
                                        <!-- <div class="progress mb-2">
                                            <div class="progress-bar bg" role="progressbar" style="width: 80%"
                                                aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Research</div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Experience Section -->
                    <div class="title-box mb-2">
                        <h4 class="text text-start about-title roboto mb-1">Experience</h4>
                        <hr class="col-md-1 hr mt-0 mb-3">
                        <p class="text text-start about-subtitle-desc roboto">
                            Not particularly had done work in any company but I had done lots of college projects as
                            well customer's projects.
                        </p>
                    </div>
                    <!-- Hobbies Section -->
                    <div class="title-box mb-lg-3 mb-md-2 mb-sm-0 mb-0">
                        <h4 class="text text-start about-title roboto mb-1">Hobbies</h4>
                        <hr class="col-md-1 hr mt-0 mb-4">
                        <div class="row">
                            <div class="col-md-3 mb-4">
                                <div class="hobbie-section d-flex justify-content-start align-items-center">
                                    <div
                                        class="hobbie-circle p-2 mx-3 d-flex justify-content-center align-items-center">
                                        <i class="fa fa-music"></i>
                                    </div>
                                    <p class="text hobbie-category mb-0 roboto">Music</p>
                                </div>
                            </div>
                            <div class="col-md-3 mb-4">
                                <div class="hobbie-section d-flex justify-content-start align-items-center">
                                    <div
                                        class="hobbie-circle p-2 mx-3 d-flex justify-content-center align-items-center">
                                        <i class="fa fa-gamepad"></i>
                                    </div>
                                    <p class="text hobbie-category mb-0 roboto">Game</p>
                                </div>
                            </div>
                            <div class="col-md-3 mb-4">
                                <div class="hobbie-section d-flex justify-content-start align-items-center">
                                    <div
                                        class="hobbie-circle p-2 mx-3 d-flex justify-content-center align-items-center">
                                        <i class="fa fa-film"></i>
                                    </div>
                                    <p class="text hobbie-category mb-0 roboto">Movie</p>
                                </div>
                            </div>
                            <div class="col-md-3 mb-lg-4 mb-md-3 mb-sm-1 mb-0">
                                <div class="hobbie-section d-flex justify-content-start align-items-center">
                                    <div
                                        class="hobbie-circle p-2 mx-3 d-flex justify-content-center align-items-center">
                                        <i class="fa fa-suitcase"></i>
                                    </div>
                                    <p class="text hobbie-category mb-0 roboto">Travel</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  -->
                </div>
            </div>
        </div>
    </div>
</div>
<!--  -->

<!-- ========================= Services Page Section ========================= -->
<div class="container-fluid px-0 mx-0 bg-light my-5 py-3">
    <div class="container col-md-11">
        <p class="container col-md-1 text text-center service-tag py-1 mb-2 roboto">Services</p>
        <h4 class="text text-center service-title playfair mb-2">
            Services provide for you
        </h4>
        <p class="container col-md-7 text text-center service-subtitle py-1 mb-5 roboto">
            I can provide you the following services as much as possible. If you believe me just you can hire me or you
            can want any help regarding the following services, just contact me.
        </p>
        <div class="row">
            <div class="col-md-4 mb-5 px-4">
                <div class="p-4 bg-white text-center border shadow-sm">
                    <div class="d-flex justify-content-center align-items-center mb-3">
                        <img src="static/images/icons/web-development.png"
                            class="service-img img-thumbnail shadow-sm bg-light" alt="">
                    </div>
                    <div class="services-section ms-2">
                        <p class="text hobbie-category playfair mb-2">Website Development</p>
                        <p class="text text-center text-secondary roboto mb-0">
                            I always focus on the better website development, I never comprime to improve better quality
                            on the website while developing.
                        </p>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="col-md-4 mb-5 px-4">
                <div class="p-4 bg-white text-center border shadow-sm">
                    <div class="d-flex justify-content-center align-items-center mb-3">
                        <img src="static/images/icons/android-development.png"
                            class="service-img img-thumbnail shadow-sm bg-light" alt="">
                    </div>
                    <div class="services-section ms-2">
                        <p class="text hobbie-category playfair mb-2">Android Development</p>
                        <p class="text text-center text-secondary roboto mb-0">
                            I always focus on the better app development, I never comprime to improve better quality on
                            the app while developing.
                        </p>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="col-md-4 mb-5 px-4">
                <div class="p-4 bg-white text-center border shadow-sm">
                    <div class="d-flex justify-content-center align-items-center mb-3">
                        <img src="static/images/icons/ux-ui-development.png"
                            class="service-img img-thumbnail shadow-sm bg-light" alt="">
                    </div>
                    <div class="services-section ms-2">
                        <p class="text hobbie-category playfair mb-2">UX/UI Design</p>
                        <p class="text text-center text-secondary roboto mb-0">
                            I always focus on the better UX/UI Design, I never comprime to improve better quality on
                            the UX/UI design while developing.
                        </p>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="col-md-4 mb-5 px-4">
                <div class="p-4 bg-white text-center border shadow-sm">
                    <div class="d-flex justify-content-center align-items-center mb-3">
                        <img src="static/images/icons/logo-development.png"
                            class="service-img img-thumbnail shadow-sm bg-light" alt="">
                    </div>
                    <div class="services-section ms-2">
                        <p class="text hobbie-category playfair mb-2">Logo Design</p>
                        <p class="text text-center text-secondary roboto mb-0">
                            I always focus on the better logo development, I never comprime to improve better quality on
                            the logo while developing.
                        </p>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="col-md-4 mb-5 px-4">
                <div class="p-4 bg-white text-center border shadow-sm">
                    <div class="d-flex justify-content-center align-items-center mb-3">
                        <img src="static/images/icons/research.png" class="service-img img-thumbnail shadow-sm bg-light"
                            alt="">
                    </div>
                    <div class="services-section ms-2">
                        <p class="text hobbie-category playfair mb-2">Research</p>
                        <p class="text text-center text-secondary roboto mb-0">
                            I love or passinate to research and analysis about new topics. So, I
                            always research about new topic to upgrade myself accordingly.
                        </p>
                    </div>
                </div>
            </div>
            <!--  -->
        </div>
    </div>
</div>
<!--  -->

<!-- ========================= Projects Page Section ========================= -->
<div class="container-fluid px-0 mx-0">
    <div class="container col-md-11">
        <!--  -->
        <div class="px-2">
            <p class="container col-md-1 text text-center service-tag py-1 mb-2 roboto">Projects</p>
            <h4 class="text text-center service-title playfair mb-2">
                Review My Projects
            </h4>
            <p class="container col-md-7 text text-center service-subtitle py-1 mb-4 roboto">
                I have developed lots of projects. You can view projects and take as a references for your projects or
                it may help you to generate ideas for you.
            </p>
        </div>
        <!--  -->
        <div class="tabs">
            <ul class="tabs-list">
                <li class="active">
                    <a href="#all_project" class="btn a btn-link text-decoration-none">All</a>
                </li>
                <li>
                    <a href="#web_development" class="btn a btn-link text-decoration-none">Website</a>
                </li>
                <li>
                    <a href="#app_development" class="btn a btn-link text-decoration-none">Apps</a>
                </li>
                <li>
                    <a href="#logo_development" class="btn a btn-link text-decoration-none">Logo</a>
                </li>
            </ul>
        </div>
        <!-- tabs -->
        <div class="tabs my-3 py-2 px-lg-4 px-md-2 px-sm-0 px-0">
            <div class="tab-result-section mt-5 bg-light px-lg-3 px-md-2 px-sm-0 px-0 py-1">
                <div id="all_project" class="tab active">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12 py-3 mb-3">
                            <div class="project-box mx-lg-2 mx-md-0">
                                <img src="static/images/com-bg-goku.png" class="project-img mb-3" alt="">
                                <div class="project-description px-3 mb-3">
                                    <h3 class="text playfair project-title mb-2">
                                        Mack Pets Website
                                    </h3>
                                    <p class="text about-subtitle-desc roboto">
                                        The mack pets website is all about to care about dogs...
                                    </p>
                                    <hr>
                                    <a href="https://mackpets.netlify.app/" target="_blank"
                                        class="btn view-btn mb-2 w-100">View Project</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12 py-3 mb-3">
                            <div class="project-box mx-2">
                                <img src="static/images/com-bg-goku.png" class="project-img mb-3" alt="">
                                <div class="project-description px-3 mb-3">
                                    <h3 class="text playfair project-title mb-2">
                                        Hostel Finder App
                                    </h3>
                                    <p class="text about-subtitle-desc roboto">
                                        The hostel finder app is all about finding hostel for students...
                                    </p>
                                    <hr>
                                    <a href="#" target="_blank" class="btn view-btn mb-2 w-100">View Project</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12 py-3 mb-3">
                            <div class="project-box mx-2">
                                <img src="static/images/com-bg-goku.png" class="project-img mb-3" alt="">
                                <div class="project-description px-3 mb-3">
                                    <h3 class="text playfair project-title mb-2">
                                        Goku Quote Website
                                    </h3>
                                    <p class="text about-subtitle-desc roboto">
                                        The goku quote website allow you to generate quotes...
                                    </p>
                                    <hr>
                                    <a href="https://github.com/gokarna123-goku/goku_quote" target="_blank"
                                        class="btn view-btn mb-2 w-100">View Project</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div id="web_development" class="tab">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12 py-3 mb-3">
                            <div class="project-box mx-2">
                                <img src="static/images/com-bg-goku.png" class="project-img mb-3" alt="">
                                <div class="project-description px-3 mb-3">
                                    <h3 class="text playfair project-title mb-2">
                                        Mack Pets Website
                                    </h3>
                                    <p class="text about-subtitle-desc roboto">
                                        The mack pets website is all about to care about dogs...
                                    </p>
                                    <hr>
                                    <a href="https://mackpets.netlify.app/" target="_blank"
                                        class="btn view-btn mb-2 w-100">View Project</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12 py-3 mb-3">
                            <div class="project-box mx-2">
                                <img src="static/images/com-bg-goku.png" class="project-img mb-3" alt="">
                                <div class="project-description px-3 mb-3">
                                    <h3 class="text playfair project-title mb-2">
                                        Goku Quote Website
                                    </h3>
                                    <p class="text about-subtitle-desc roboto">
                                        The goku quote website allow you to generate quotes...
                                    </p>
                                    <hr>
                                    <a href="https://github.com/gokarna123-goku/goku_quote" target="_blank"
                                        class="btn view-btn mb-2 w-100">View Project</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div id="app_development" class="tab">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12 py-3 mb-3">
                            <div class="project-box mx-2">
                                <img src="static/images/com-bg-goku.png" class="project-img mb-3" alt="">
                                <div class="project-description px-3 mb-3">
                                    <h3 class="text playfair project-title mb-2">
                                        Hostel Finder App
                                    </h3>
                                    <p class="text about-subtitle-desc roboto">
                                        The hostel finder app is all about finding hostel for students...
                                    </p>
                                    <hr>
                                    <a href="#" target="_blank" class="btn view-btn mb-2 w-100">View Project</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div id="logo_development" class="tab">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-4">
                            <div class="p-2">
                                <img src="static/images/logos/civiz.png" class="logo-img" alt="">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-4">
                            <div class="p-2">
                                <img src="static/images/logos/civiz.png" class="logo-img" alt="">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-4">
                            <div class="p-2">
                                <img src="static/images/logos/civiz.png" class="logo-img" alt="">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-4">
                            <div class="p-2">
                                <img src="static/images/logos/civiz.png" class="logo-img" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  -->
<hr>
<!--  -->
<!-- ========================= Contact Page Section ========================= -->
<div class="container-fluid px-0 mx-0 mb-5">
    <div class="container col-md-11">
        <div class="px-3">
            <div class="col-md-12">
                <iframe style="width:100%; height: 50vh;"
                    src="https://maps.google.com/maps?q=Thulobharyang&t=&z=13&ie=UTF8&iwloc=&output=embed"
                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
            <!--  -->
            <div class="row my-4 align-items-center">
                <h4 class="text text-center mb-4">Get in Touch</h4>
                <div class="col-md-7 pe-lg-4 ps-sm-0">
                    <div class="">
                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <div class="px-2 py-4 bg-light border border-secondary">
                                    <div class="contact-section d-flex justify-content-start align-items-center">
                                        <div
                                            class="contact-circle p-2 ms-1 me-3 d-flex justify-content-center align-items-center">
                                            <i class="fa fa-music"></i>
                                        </div>
                                        <div class="">
                                            <h6 class="text contact-title playfair">Address</h6>
                                            <p class="text text-start contact-subtitle mb-0 roboto">
                                                Thulobharyang, ktm, 44600
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--  -->
                            <div class="col-md-6 mb-4">
                                <div class="px-2 py-4 bg-light border border-secondary">
                                    <div class="contact-section d-flex justify-content-start align-items-center">
                                        <div
                                            class="contact-circle p-2 ms-1 me-3 d-flex justify-content-center align-items-center">
                                            <i class="fa fa-music"></i>
                                        </div>
                                        <div class="">
                                            <h6 class="text contact-title playfair">Contact Number</h6>
                                            <p class="text text-start contact-subtitle mb-0 roboto">
                                                +977-9898989898
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--  -->
                            <div class="col-md-6 mb-4">
                                <div class="px-2 py-4 bg-light border border-secondary">
                                    <div class="contact-section d-flex justify-content-start align-items-center">
                                        <div
                                            class="contact-circle p-2 ms-1 me-3 d-flex justify-content-center align-items-center">
                                            <i class="fa fa-music"></i>
                                        </div>
                                        <div class="">
                                            <h6 class="text contact-title playfair">Email Address</h6>
                                            <p class="text text-start contact-subtitle mb-0 roboto">
                                                agokarna444@gmail.com
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--  -->
                            <div class="col-md-6 mb-4">
                                <div class="px-2 py-4 bg-light border border-secondary">
                                    <div class="contact-section d-flex justify-content-start align-items-center">
                                        <div
                                            class="contact-circle p-2 ms-1 me-3 d-flex justify-content-center align-items-center">
                                            <i class="fa fa-music"></i>
                                        </div>
                                        <div class="">
                                            <h6 class="text contact-title playfair">Contact Number</h6>
                                            <p class="text text-start contact-subtitle mb-0 roboto">
                                                +977-9898989898
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 ps-lg-5 ps-sm-0">
                    <div class="p-2">
                        <form>
                            <div class="mb-3">
                                <label for="fullname" class="mb-2 text-secondary contact-label roboto">Full Name</label>
                                <input type="text" id="fullname" class="form-control contact-form roboto has-success"
                                    placeholder="your fullname...">
                            </div>
                            <!--  -->
                            <div class="mb-3">
                                <label for="email_id" class="mb-2 text-secondary contact-label roboto">Email
                                    Address</label>
                                <input type="email" id="email_id" class="form-control contact-form roboto"
                                    placeholder="yourmailid@gmail.com">
                            </div>
                            <!--  -->
                            <div class="mb-4">
                                <label for="your_message" class="mb-2 text-secondary contact-label roboto">Type your
                                    message</label>
                                <textarea name="your_message" id="your_message" rows="3" class="form-control contact-form roboto"
                                    placeholder="Type your message..."></textarea>
                            </div>
                            <!--  -->
                            <button type="submit" class="btn w-100 view-btn">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  -->




{% endblock body %}